<h1>Teams</h1>
<%= button_to 'New Team', new_team_path, method: :get %>
<%= button_to 'Search', root_path, method: :get %>

<ul>
  <% @teams.each do |team| %>
    <li>
      <%= link_to team.name, team_path(team) %>
      <%= button_to 'Delete', team_path(team), method: :delete, data: { confirm: 'Are you sure?' } %>
    </li>
  <% end %>
</ul>